defusedxml
semantic-version
build
importlib-metadata
alive-progress
numpy
requests~=2.31.0
ts-python-client>=2.0.5
ts-deepscan>=2.1.0
spdx-tools==0.7.0rc0
click~=8.1.3
license-expression
packageurl-python
wasabi
